In [252]:
import numpy as np
import pandas as pd
import re

# 1 .
#You have an array of numbers.
#Your task is to sort ascending odd numbers but even numbers must be on their places.

#Zero isn't an odd number and you don't need to move it. If you have an empty array, you need to return it.
source_array =([5, 3, 2, 8, 1, 4])

In [207]:
source_array =([5, 3, 2, 8, 1, 4])

def sort_array(source_array):
    odd_num = iter(sorted(num for num in source_array if num % 2))  # using a generator
    return [next(odd_num) if num % 2 else num for num in source_array] # It will skip to the next odd num in that list

In [208]:
sort_array(source_array)

[1, 3, 2, 8, 5, 4]

In [65]:
source_array =([5, 3, 2, 8, 1, 4])

def fixing_ar(source_array):
    evens = []
    odds = []
    for a in source_array:
        if a % 2:
            odds.append(a)
            evens.append(None)
        else:
            evens.append(a)
    odds = iter(sorted(odds))

    return [next(odds) if b is None  else b for b  in evens] # built in function on python, When you have

In [66]:
fixing_ar(source_array)

[1, 3, 2, 8, 5, 4]

# 2 .
Some children are playing rope skipping game. Children skip the rope at roughly the same speed: once per second. If the child fails during the jump, he needs to tidy up the rope and continue. This will take 3 seconds.

You are given an array failedCount, where each element is the jump count at the failed. ie. [12,23,45] means the child failed 3 times in the game process. The 1st mistake occurred when he jumped 12 times; The 2nd mistake occurred when he jumped 23 times; The 3rd mistake occurred when he jumped 45 times.

Your task is to calculate how many times the child jumped in 60 seconds.

Note: Each child persisted at least 60 jumps, which meant it could have been over 60 seconds, but the child continued to skip rope.

In [219]:
failed_counter = [12, 23, 45]
def jump_calc(failed_counter):
    count = 0
    jump = 0
    
    while count < 60:
        count += 1
        jump += 1
        if jump in failed_counter:
            count += 3
    return jump

In [220]:
jump_calc(failed_counter)

51

# 3.

I found this interesting interview question just today:

8 coins are given where all the coins have equal weight, except one. The odd one weights less than the others, not being of pure gold. In the worst case, how many iterations are actually needed to find the odd one out on a two plates scale.

I am asking you then to tell me what is the minimum amount of weighings it will take to measure n coins in every possible occurrence (including worst case scenario, ie: without relying on luck at all).

n is guaranteed to be a positive integer.

Tip: being able to think recursively might help here :p

Note: albeit this is more clearly a logical than a coding problem, do not underestimate (or under-rank) the kata for requiring not necessarily wizard-class coding skills: a good coder is a master of pattern recognition and subsequent optimization ;)

In [1]:
def how_many_measurements(n):
    i = 0
    while 3 ** i < n:
        i +=1
    return i

# 4 .
Alex is a great fan of Snooker and he likes recording the results of his favorite players by recording the balls that fall into the pockets of the table. He asks you to help him with a program that calculates the points a player scored in a given set using his notes.
Unfortunatly his notes are quiet a mess ...

Task:
Given his short hand notation as string, calculate the points a player scored in a set.
He codes the ball colors with letters:

R = red (1 point)
Y = yellow (2 points)
G = green (3 points)
Bn = brown (4 points)
Be = blue (5 points)
P = pink (6 points)
Bk = black (7 points)
W = white (no points because it's a foul)

The color may be followed by a number 'R12' would stand for 12 red balls pocketed. If there is no number given, the ball was pocketed once.

For your convenience the points for each color are provided as hash / dictionary with the name 'blz'.

In [255]:
blz = {'R': 1, 'Y': 2, 'G': 3, 'Bn': 4, 'Be': 5, 'P': 6, 'Bk': 7, 'W':0}
balls = "R15P3G1Bk4Y1Bn1Be3"

def count_ball(balls):
    if 'W' in balls:
        return "Foul"
    list = re.findall('[A-Z][a-z]*[0-9]*', balls)
    sum = 0
    for ball in list:
        num = re.findall('[0-9]+', ball)
        color = ball.rstrip(num[0]) if num else ball
        n = int(num[0] if num else 1)
        sum += n * int(blz[color])
    return sum if sum < 148 else 'invalid'

In [256]:
count_ball(balls)

85

In [229]:
blz = {'R': 1, 'Y': 2, 'G': 3, 'Bn': 4, 'Be': 5, 'P': 6, 'Bk': 7, 'W':0}
balls = "R15P3G1Bk4Y1Bn1Be3"
def frame(balls):
    if "W" in balls:
        return "Foul"
    list = re.findall('[A-Z][a-z]*[0-9]*', balls)
    sum = 0
    for ball in list:
        num = re.findall('[0-9]+', ball)
        color = ball.rstrip(num[0]) if num else ball
        n = int(num[0] if num else 1)
        sum += n * int(blz[color]) 
    return sum if sum < 148 else "invalid"

In [230]:
frame(balls)

85

# 5.
How many bees are in the beehive?
bees can be facing UP, DOWN, LEFT, or RIGHT
bees can share parts of other bees
Examples

[[bee.bee],     
[.e..e..],
[.b..eeb]]

bee.bee     
e.e.e.e
eeb.eeb

They say this is a list of list but this doesn't make sense to me

In [25]:
# Spelling Bee Challenge


def how_many_bees(hive):
    if not hive:
        return False
    
    result = 0
    for num in hive:
        r = ''.join(num)
        result += r.count("bee") #count forwards
        result += r.count("eeb") #count backwards

    for i in range(len(hive[0])):
        s = ''
        for j in range(len(hive)):
            s += hive[j][i]
        result += s.count("bee") #downwards
        result += s.count("eeb") # Upwards

    return result

# 6 .
How much
I always thought that my old friend John was rather richer than he looked, but I never knew exactly how much money he actually had. One day (as I was plying him with questions) he said: "Imagine I have between m and n Zloty (or did he say Quetzal? I can't remember!)

If I were to buy 9 cars costing c each, I'd only have 1 Zlotty (or was it Meticals?) left.

And if I were to buy 7 boats at b each, I'd only have 2 Ringglets (or was it Zlotty?) left.

Could you tell me in each possible case:

how much money f he could possibly have
the cost c of a car
the cost b of a boat?
So, I will have a better idea about his fortune. Note that if m-n is big enough, you might have a lot of possible answers.

Each answer will be given as ["M: f", "B: b", "C: c"] and all the answers as [ ["M: f", "B: b", "C: c"] ... ]. M stands for "Money", B for boats, C for cars.

m and n are positive or null integers with m <= n or m >= n, m and n inclusive.

##Examples:

howmuch(1, 100) => [["M: 37", "B: 5", "C: 4"], ["M: 100", "B: 14", "C: 11"]]
howmuch(1000, 1100) => [["M: 1045", "B: 149", "C: 116"]]
howmuch(10000, 9950) => [["M: 9991", "B: 1427", "C: 1110"]]
howmuch(0, 200) => [["M: 37", "B: 5", "C: 4"], ["M: 100", "B: 14", "C: 11"], ["M: 163", "B: 23", "C: 18"]]
Explanation of howmuch(1, 100):

In the first answer his possible fortune is 37 so if he buys 7 boats each worth 5 it remains 37 - 7 * 5 = 2, if he buys 9 cars worth 4 each it remains 37 - 9 * 4 = 1. The same with f = 100: 100 - 7 * 14 = 2 and 100 - 9 * 11 = 1.

In [3]:
# M stands for money
# B for boat
# C for cars
# N for purchase
def howmuch(m, n):    
    
    return [['M: %d'%i, 'B: %d'%(i/7), 'C: %d'%(i/9)] 
            for i in range(min(m,n), max(m,n)+1) if i%7 == 2 and i%9 == 1]

In [4]:
howmuch(m, n)

NameError: name 'm' is not defined

In [ ]:
def howmuch(m, n):
    i = min(m, n)
    j = max(m, n)
    res = []
    while (i <= j):
        if ((i % 9 == 1) and (i %7 == 2)):
            res.append(["M: " + str(i), "B: " + str(i // 7), "C: " + str(i // 9)])
        i += 1
    return res

In [5]:
i = 5
i % 9 == 2

False

# 7.
A rectangle can be split up into a grid of 1x1 squares, the amount of which being equal to the product of the two dimensions of the rectangle. Depending on the size of the rectangle, that grid of 1x1 squares can also be split up into larger squares, for example a 3x2 rectangle has a total of 8 squares, as there are 6 distinct 1x1 squares, and two possible 2x2 squares. A 4x3 square contains 20 squares.




Your task is to write a function findSquares that returns the total number of squares for any given rectangle, the dimensions of which being given as two integers with the first always being equal to or greater than the second.

In [191]:
def findSquares(x,y):
    squares = 0
    while y > 0:  
        squares = squares + x*y
        x = x-1
        y = y-1
    return squares

In [ ]:
def findSquares(x,y):
    if x > y:
        x, y  = y, x
    return x*(x+1)*(2*x+1)/6 + (y-x)*x*(x+1)/2

# 8.
In this Kata, you will be given an array and your task will be to determine if an array is in ascending or descending order and if it is rotated or not.

Consider the array [1,2,3,4,5,7,12]. This array is sorted in Ascending order. If we rotate this array once to the left, we get [12,1,2,3,4,5,7] and twice-rotated we get [7,12,1,2,3,4,5]. These two rotated arrays are in Rotated Ascending order.

Similarly, the array [9,6,5,3,1] is in Descending order, but we can rotate it to get an array in Rotated Descending order: [1,9,6,5,3] or [3,1,9,6,5] etc.

Arrays will never be unsorted, except for those that are rotated as shown above. Arrays will always have an answer, as shown in the examples below

In [5]:
 arr = [1,2,3,4,5,7,12]

In [11]:
def solve(arr):
    if sorted(arr) == arr:
        return "A"
    if sorted(arr)[::-1] == arr:
        return "D"
    return "RA" if arr[0] > arr[-1] else "RD"

In [12]:
solve(arr)

'A'

# 9.
You will be given two numbers m,n. The numbers could span from 0 to 10000. We can get their product by using binary reduction as show in the table below.

Example (to understand the table please read the description below it)


real value of m(r)	m	n	(r*n)
0	100	15	0
0	50	30	0
1	25	60	60
0	12	120	0
0	6	240	0
1	3	480	480
1	1	960	960
Above, we are given two numbers 100 and 15. we keep reducing the bigger number by dividing it by 2 and hold the integer part of the division till it is no more divisible by 2. Then we assign the real values to these reduced parts of m. Any reduced number [1,m] has real value of 0 if it is even, and it will have real value of 1 if it is odd. On the other hand the smaller number in this case n keeps on doubling itself the same amount of times m reduces itself. The idea of this method is to change multiplication of two big number to a sequence of multiplication by 0 or 1 and perform addition to get the final product. You can see that from the last column (r*n) above.
if we sum the last column we get 0+60+0+0+480+960=1500=100*15 Now your task for this kata will be to get those non-zero number in the last column in an array and return it sorted in descending order.so for the above example the return will be [960,480,60].

In [ ]:
def bin_mul(m,n):
    if m < n: return bin_mul(n,m)
    if n == 0: return[] 
    r = []
    while m >= 1:
        print(m,n)
        if m % 2: r.append(1*n)
        m = m//2
        n = n*2
    
    return sorted(r,reverse=True)

# 10.
Backwards Read Primes are primes that when read backwards in base 10 (from right to left) are a different prime. (This rules out primes which are palindromes.)

Examples:
13 17 31 37 71 73 are Backwards Read Primes
13 is such because it's prime and read from right to left writes 31 which is prime too. Same for the others.

Task
Find all Backwards Read Primes between two positive given numbers (both inclusive), the second one being greater than the first one. The resulting array or the resulting string will be ordered following the natural order of the prime numbers.

Example
backwardsPrime(2, 100) => [13, 17, 31, 37, 71, 73, 79, 97] backwardsPrime(9900, 10000) => [9923, 9931, 9941, 9967]

backwardsPrime(2, 100) => [13, 17, 31, 37, 71, 73, 79, 97] 
backwardsPrime(9900, 10000) => [9923, 9931, 9941, 9967]

In [ ]:
def backwardsPrime(start, nd):
    return [i for i in xrange(start,nd+1) 
            if i != int(str(i)[::-1]) and isPrime(i) and isPrime(int(str(i)[::-1]))]
    
def isPrime(n):
    return all([n % i != 0 for i in xrange(2,int(n**.5)+1)])

# 11.
In this Kata, you will be given an array of strings and your task is to remove all consecutive duplicate letters from each string in the array.

For example:

dup(["abracadabra","allottee","assessee"]) = ["abracadabra","alote","asese"].

dup(["kelless","keenness"]) = ["keles","kenes"].

Strings will be alphabet characters only. Don't worry about lower and upper case. See test cases for more examples.

Good luck!

If you like this Kata, please try:

In [ ]:
import re

def dup(arry):
    return list(map(lambda s: re.sub(r'(\w)\1+', r'\1', s), arry))

# 12.
The aim of this Kata is to write a function which will reverse the case of all consecutive duplicate letters in a string. That is, any letters that occur one after the other and are identical.

If the duplicate letters are lowercase then they must be set to uppercase, and if they are uppercase then they need to be changed to lowercase.

Examples:

reverse_case("puzzles")    Expected Result: "puZZles"
reverse_case("massive")    Expected Result: "maSSive"
reverse_case("LITTLE")     Expected Result: "LIttLE"
reverse_case("shhh")

In [209]:
import re
def reverse(str):
    return re.sub(r'(.)\1+', lambda m: m.group().swapcase(), str)

# 13.  
Consider the array [3,6,9,12]. If we generate all the combinations with repetition that sum to 12, we get 5 combinations: [12], [6,6], [3,9], [3,3,6], [3,3,3,3]. The length of the sub-arrays (such as [3,3,3,3] should be less than or equal to the length of the initial array ([3,6,9,12]).

Given an array of positive integers and a number n, count all combinations with repetition of integers that sum to n. For example:

find([3,6,9,12],12) = 5.

In [39]:
from itertools import combinations_with_replacement

def find(arr,n):
    return sum( sum(c) == n for x in range(1,len(arr)+1) for c in combinations_with_replacement(arr, x) )

# 14.
A vector operation takes two or more vectors, applies an operation to each set of elements, and returns a vector of the results. For example, if x = [1, 2] and y = [6, 4], then x + y = [1 + 6, 2 + 4], or [7, 6].

Your task has two parts. In Part 1, you'll define a higher order funciton, vector_op, that can execute vector operations. In Part 2 you'll define a series of functions to pass as f to vector_op.

Part 1: Define a higher order function, vector_op(f, *vs)

vector_op takes the following arguments:

f, a function, that performs an operation on successive elements of an iterable, e.g., sum
*vs An arbitrary number of vectors of equal length. We will use the list data structure for a vectors.
Write vector_op so that it can take an arbitrary number of lists as arguments after f or an iterator of lists.

vector_op returns a vector (a list) of the same length as those passed as arguments, and is the result of element-wise application of the operation to the vector arguments.

Special Cases:

With only one vector, it returns that vector unchanged, regardless of which valid f argument you pass.
If any number of empty vectors are passed, it returns an empty vector.
EXAMPLES:

vector_op(sum, [1, 2], [6, 4]) => [7, 6]
vector_op(sum, [1, 2], [6, 4], [2, 1]) => [9, 7]
vector_op(sum, [1, 2]) => [1, 2] # Special Case 1
vector_op(sum, [], [], [], [], [], [], []) => [] # Special Case 2
Part 2: Define a series of functions to pass to vector_op

In python, we already have a builtin function sum that performs a scalar arithmetic operation on an iterable. When we pass sumto vector_opwe have the vector version of addition.

We're going to define two more functions that we perform scalar operations on iterables, and will perform vector operations when passed to vector_op.

Multiplication: Define a function iter_mult that performs scalar multiplication on an iterable, and performs vector multiplication on an arbitrary number of arguments when passed as f to your higher order function vector_op.

iter_mult([5, 4, 3]) => 60
iter_mult(1)         => TypeError # as with the built-in sum(), iter_mult() needs an iterable argument

In [231]:
from functools import partial, reduce
from operator import eq, mul

def vector_op(f, *vs):
    return list(map(f, zip(*vs)))
    
iter_mult = partial(reduce, mul)
iter_eq = partial(reduce, eq)

# 15.
Given a certain square matrix A, of dimension n x n, that has negative and positive values (many of them may be 0).

We need the following values rounded to the closest integer:

the average of all the positive numbers (more or equal to 0) that are in the principal diagonal and in the columns with odd index, avg1

the absolute value of the average of all the negative numbers in the secondary diagonal and in the columns with even index, avg2

Let's see the requirements in an example:

In [233]:
def avg_diags(m):
  a1,a2,l,l1,l2=0,0,len(m),0,0
  for i in range (0,l):
    if i&1: 
       if m[i][i]>=0: a1+=m[i][i]; l1+=1
    else:
       if m[l-i-1][i]<0: a2+=m[len(m)-i-1][i]; l2+=1
  return [round(a1/l1) if l1>0 else -1,round(abs(a2)/l2) if l2>0 else -1]

# 16.

In this Kata, we are going to see how a Hash (or Map or dict) can be used to keep track of characters in a string.

Consider two strings "aabcdefg" and "fbd". How many characters do we have to remove from the first string to get the second string? Although not the only way to solve this, we could create a Hash of counts for each string and see which character counts are different. That should get us close to the answer. I will leave the rest to you.

For this example, solve("aabcdefg","fbd") = 5. Also, solve("xyz","yxxz") = 0, because we cannot get second string from the first since the second string is longer.

More examples in the test cases.

In [37]:
a = "aabcdefg",
b = "fbd"
from collections import Counter

def solve(a,b):
    return 0 if Counter(b) - Counter(a) else len(a) - len(b)

In [38]:
solve(a, b)

0

# 17.

In [7]:

data = """Rome:Jan 81.2,Feb 63.2,Mar 70.3,Apr 55.7,May 53.0,Jun 36.4,Jul 17.5,Aug 27.5,Sep 60.9,Oct 117.7,Nov 111.0,Dec 97.9
London:Jan 48.0,Feb 38.9,Mar 39.9,Apr 42.2,May 47.3,Jun 52.1,Jul 59.5,Aug 57.2,Sep 55.4,Oct 62.0,Nov 59.0,Dec 52.9
Paris:Jan 182.3,Feb 120.6,Mar 158.1,Apr 204.9,May 323.1,Jun 300.5,Jul 236.8,Aug 192.9,Sep 66.3,Oct 63.3,Nov 83.2,Dec 154.7
NY:Jan 108.7,Feb 101.8,Mar 131.9,Apr 93.5,May 98.8,Jun 93.6,Jul 102.2,Aug 131.8,Sep 92.0,Oct 82.3,Nov 107.8,Dec 94.2
Vancouver:Jan 145.7,Feb 121.4,Mar 102.3,Apr 69.2,May 55.8,Jun 47.1,Jul 31.3,Aug 37.0,Sep 59.6,Oct 116.3,Nov 154.6,Dec 171.5
Sydney:Jan 103.4,Feb 111.0,Mar 131.3,Apr 129.7,May 123.0,Jun 129.2,Jul 102.8,Aug 80.3,Sep 69.3,Oct 82.6,Nov 81.4,Dec 78.2
Bangkok:Jan 10.6,Feb 28.2,Mar 30.7,Apr 71.8,May 189.4,Jun 151.7,Jul 158.2,Aug 187.0,Sep 319.9,Oct 230.8,Nov 57.3,Dec 9.4
Tokyo:Jan 49.9,Feb 71.5,Mar 106.4,Apr 129.2,May 144.0,Jun 176.0,Jul 135.6,Aug 148.5,Sep 216.4,Oct 194.1,Nov 95.6,Dec 54.4
Beijing:Jan 3.9,Feb 4.7,Mar 8.2,Apr 18.4,May 33.0,Jun 78.1,Jul 224.3,Aug 170.0,Sep 58.4,Oct 18.0,Nov 9.3,Dec 2.7
Lima:Jan 1.2,Feb 0.9,Mar 0.7,Apr 0.4,May 0.6,Jun 1.8,Jul 4.4,Aug 3.1,Sep 3.3,Oct 1.7,Nov 0.5,Dec 0.7"""

data1 = """Rome:Jan 90.2,Feb 73.2,Mar 80.3,Apr 55.7,May 53.0,Jun 36.4,Jul 17.5,Aug 27.5,Sep 60.9,Oct 147.7,Nov 121.0,Dec 97.9
London:Jan 58.0,Feb 38.9,Mar 49.9,Apr 42.2,May 67.3,Jun 52.1,Jul 59.5,Aug 77.2,Sep 55.4,Oct 62.0,Nov 69.0,Dec 52.9
Paris:Jan 182.3,Feb 120.6,Mar 188.1,Apr 204.9,May 323.1,Jun 350.5,Jul 336.8,Aug 192.9,Sep 66.3,Oct 63.3,Nov 83.2,Dec 154.7
NY:Jan 128.7,Feb 121.8,Mar 151.9,Apr 93.5,May 98.8,Jun 93.6,Jul 142.2,Aug 131.8,Sep 92.0,Oct 82.3,Nov 107.8,Dec 94.2
Vancouver:Jan 155.7,Feb 121.4,Mar 132.3,Apr 69.2,May 85.8,Jun 47.1,Jul 31.3,Aug 37.0,Sep 69.6,Oct 116.3,Nov 154.6,Dec 171.5
Sydney:Jan 123.4,Feb 111.0,Mar 151.3,Apr 129.7,May 123.0,Jun 159.2,Jul 102.8,Aug 90.3,Sep 69.3,Oct 82.6,Nov 81.4,Dec 78.2
Bangkok:Jan 20.6,Feb 28.2,Mar 40.7,Apr 81.8,May 189.4,Jun 151.7,Jul 198.2,Aug 197.0,Sep 319.9,Oct 230.8,Nov 57.3,Dec 9.4
Tokyo:Jan 59.9,Feb 81.5,Mar 106.4,Apr 139.2,May 144.0,Jun 186.0,Jul 155.6,Aug 148.5,Sep 216.4,Oct 194.1,Nov 95.6,Dec 54.4
Beijing:Jan 13.9,Feb 14.7,Mar 18.2,Apr 18.4,May 43.0,Jun 88.1,Jul 224.3,Aug 170.0,Sep 58.4,Oct 38.0,Nov 19.3,Dec 2.7
Lima:Jan 11.2,Feb 10.9,Mar 10.7,Apr 10.4,May 10.6,Jun 11.8,Jul 14.4,Aug 13.1,Sep 23.3,Oct 1.7,Nov 0.5,Dec 10.7"""


town = ["Rome", "London", "Paris", "NY", "Vancouver", "Sydney", "Bangkok", "Tokyo",
         "Beijing", "Lima", "Montevideo", "Caracas", "Madrid", "Berlin"]


def get_towndata(town, strng):
    for line in strng.split('\n'):
        s_town, s_data = line.split(':')
        if s_town == town:
            return [s.split(' ') for s in s_data.split(',')]
    return None

def mean(town, strng):
    data = get_towndata(town, strng)
    if data is not None:
        return sum([float(x) for m,x in data]) / len(data)
    else:
        return -1.
    
def variance(town, strng):
    data = get_towndata(town, strng)
    if data is not None:
        mean = sum([float(x) for m,x in data]) / len(data)
        return sum([(float(x)-mean)**2 for m,x in data]) / len(data)
    else:
        return -1.

In [ ]:
get_towndata(town, strng)

# 18.
In this Kata, you will be given an array of arrays and your task will be to return the number of unique arrays that can be formed by picking exactly one element from each subarray.

For example: solve([[1,2],[4],[5,6]]) = 4, because it results in only 4 possiblites. They are [1,4,5],[1,4,6],[2,4,5],[2,4,6].

Make sure that you don't count duplicates; for example solve([[1,2],[4,4],[5,6,6]]) = 4, since the extra outcomes are just duplicates.

See test cases for more examples.

Good luck!

If you like this Kata, please try:

In [50]:
arr = [[1,2],[4],[5,6],[7, 3]]

def solve(arr):
    x = 1
    for a in arr:
        x *= len(set(a))
    return x

In [51]:
solve(arr)

8

# 19.
In this Kata, you will be given an array of strings and your task is to remove all consecutive duplicate letters from each string in the array.

For example:

dup(["abracadabra","allottee","assessee"]) = ["abracadabra","alote","asese"].

dup(["kelless","keenness"]) = ["keles","kenes"].

Strings will be alphabet characters only. Don't worry about lower and upper case. See test cases for more examples.

Good luck!

If you like this Kata, please try:

In [ ]:
import re
def dup(arry):
    return list(map(lambda s: re.sub(r'(\w)\1+', r'\1', s), arry))